{% extends 'base.html' %}
{% block content %}

<div class="col-md-6 offset-md-3">
<h1>Add Record!</h1>


<form method="POST" action="{% url 'add_record' %}">
    {% csrf_token %}

    {{ form.as_p }}

    <br/>

    <button type="submit" class="btn btn-secondary">Add Record</button>

    <a href="{% url 'home' %}" class="btn btn-dark">Back</a>
    
    <a href="{% url 'upload_record' %}" class="btn btn-danger" style="float: right;">Bulk upload with Excel</a>
    
</form>


<!-- <button onclick="openUploadCard()">Upload File</button>

<div id="upload-card" style="display: none;">
  <h3>Upload File</h3>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Upload">
  </form>
</div>

<script>
  function openUploadCard() {
    document.getElementById('upload-card').style.display = 'block';
  }
</script> -->



</div>
{% endblock %}